@model IEnumerable<Padiatric.Models.Appointment>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-primary mb-4">Appointments</h2>
            <table class="table table-bordered table-hover shadow-sm">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Professor</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="3" class="text-center text-muted">No appointments available.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var appointment in Model)
                        {
                            <tr>
                                <td>@appointment?.AppointmentDate.ToShortDateString()</td>
                                <td>@appointment?.Reason</td>
                                <td>@appointment?.Professor.FirstName @appointment?.Professor.LastName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
